html {
  background-color: rgb(30, 30, 30);
  height: 100%;
}

body {
  height: 100%;
  color: rgb(200, 200, 200);
}

.text {
  font-size: 30px;
}
.files {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 100%;
  font-size: 30px;
}
