html {
  background-color: rgb(255, 255, 255);
  height: 100%
}

body {
  height: 100%
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 100%;
  font-size: 30px;
}